<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target xsi:type="File" name="logfile" fileName="logs/logfile.txt" 
			archiveEvery = "Day"
			archiveNumbering = "Rolling"
			archiveAboveSize="1000000000"
			maxArchiveFiles = "90" />

		<!-- write to the void aka just remove -->
		<target xsi:type="Null" name="blackhole" />		
	</targets>

	<rules>
		<logger name="Microsoft.EntityFrameworkCore.*" minlevel="Warn" writeTo="logfile" final="true" />
		<logger name="Microsoft.EntityFrameworkCore.*" minlevel="Trace" writeTo="blackhole" final="true" />
		<logger name="*" minlevel="Trace" writeTo="logfile" />
	</rules>
</nlog>